node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
temp_scripts
deploy/prod/postgres
deploy/prod/minio
deploy/prod/migration
deploy/prod/logs
deploy/prod/backend
deploy/prod/frontend
