# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
temp_scripts/

# Docker volumes and temp files
deploy/prod/postgres/data/
deploy/prod/minio/data/
deploy/prod/backend/temp/
deploy/prod/.env